.user-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info div {
    margin-right: 20px;
    font-size: 1.5rem;
    color: #333;
}

.user-info a {
    text-decoration: none;
}

.user-info a img {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
}

.user-info a img:hover {
    transform: scale(1.1);
}

#username {
    font-weight: bold;
}

#job-field {
    color: #007bff;
}
#job-field:hover {
    color: #0457af;
}


#resumes-count {
    font-weight: bold;
}
