body {
  padding-top: 150px;
}

div {
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;

  &:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
  }
}

button:disabled:hover {
  background-color: #767676;
}

button:hover {
  background-color: #45a049;
}

span.error {
  color: red;
  font-size: 14px;
}